#root, :root, body {
    height: 100%;
    width: 100%;
    margin: 0;
}


.mainPage {
    height: 900px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logoImg {
    opacity: 45%;
}
